{{#each this}}
<li class="card-container">
    <div class="photo-card">
        <img src="{{webformatURL}}" alt="" class="card-image" />
        const instance = basicLightbox.create(`
        <iframe src="{{largeImageURL}}" width="560" height="315" frameborder="0"></iframe>
        `)

        instance.show()

        <div class="stats">
            <p class="stats-item">
                <i class="material-icons">thumb_up</i>
                {{likes}}
            </p>
            <p class="stats-item">
                <i class="material-icons">visibility</i>
                {{views}}
            </p>
            <p class="stats-item">
                <i class="material-icons">comment</i>
                {{comments}}
            </p>
            <p class="stats-item">
                <i class="material-icons">cloud_download</i>
                {{downloads}}
            </p>

        </div>
    </div>
</li>
{{/each}}